:root {
  --primary-color: #fce138;
  --secondary-color: #F1F1F1;
  --tertiary-color: #000000;
}
body {
  background-color: var(--secondary-color)
}

header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    font-weight: 800;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-image: url('../images/hero.jpg');
  }

.hero, .output {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
    text-align: center;
    height: 400px;
    font-size: 30px;
    font-weight: 580;
  }

  /*.hero::before {
    content: "";
    background-image: url('../images/hero.jpg');
    background-size: cover;
    opacity:50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }*/

/* style changes to the heading DATE NIGHT GENERATOR*/
  .date-night-generator {
    text-align: center;
    align-items: center;
    justify-content: center;
    font: weight 200; 
    color: rgb(255, 255, 255);
  }
  /* Search index input field*/

.form {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 18px;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.drinkBox,
.mealBox {
  flex: 1 1 300px;
  background-color: var(--tertiary-color);
  border: 1px solid rgb(1, 29, 1);
  font-family: inherit;
  color: var(--secondary-color);
  height: auto;
  margin: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  line-height: 38px;
  letter-spacing: .1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.meal-container, .drink-container{
  height: 80px;
  width: 30px;
}