:root {
  --primary-color: #fce138;
  --secondary-color: #F1F1F1;
  --tertiary-color: #33C3F0;
}
body {
  background-color: var(--secondary-color)
}

header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-image: url('../images/hero.jpg');
  }

.hero, .output {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
    text-align: center;
    height: 400px;
  }
/* style changes to the heading DATE NIGHT GENERATOR*/
  .date-night-generator {
    text-align: center;
    align-items: center;
    justify-content: center;
    font: weight 200; 
  }
  /* Search index input field*/

.form {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drinkBox,
.mealBox {
  background-color: var(--tertiary-color);
  border: 1px solid rgb(1, 29, 1);
  width: 500px;
  height: 250px;
  margin: 60px;
  float: left;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
}

